doctype html
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="")
        meta(name="viewport" content="width=device-width initial-scale=1.0")
        meta(name="format-detection" content="telephone=no")
        link(rel="shortcut icon" href="./favicons/favicon.png")
        title Example

        //css
        block cssLinks
            link(rel="stylesheet" href="./main.css")

    body
        #react-root

        // script
        block scripts
            script(src="./app.bundle.js?v=1")